<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
</head>
<body>
<h1>Sign In</h1>
<form action="/signin" method="post">
	mailme@  <input type="text" name="mailmeid"><br><br>
	password <input type="password" name="password"><br><br>
	<input type="submit" value="Login">
	<input type="reset" value="Reset"><br><br>
</form>
<br>
<a href="/signup">Sign Up</a>
</body>
</html>